<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.17" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.17" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="NUnit" version="3.9.0" targetFramework="net461" />
  <package id="NUnit.Console" version="3.7.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.5.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net461" />
  <package id="SQLite.CodeFirst" version="1.4.0.20" targetFramework="net461" />
  <package id="structuremap" version="2.6.2" targetFramework="net461" />
  <package id="StructureMap.MVC3" version="1.0.8" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.106.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.106.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.106.0" targetFramework="net461" />
  <package id="WebActivator" version="1.4.2" targetFramework="net461" />
</packages>